<html>
    <body>
        <h1>Enter Contacts</h1>
        <form action = "{{url_for('display_contacts')}}" method = "post">
            <label for="c1n">Contact 1 Number & Name:</label><br>
            <input type="tel" id="c1n" name="c1n" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"><input type="text" id="c1l" name="c1l"><br>
            <label for="c2n">Contact 2 Number & Name:</label><br>
            <input type="tel" id="c2n" name="c2n" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"><input type="text" id="c2l" name="c2l"><br>
            <label for="c3n">Contact 3 Number & Name:</label><br>
            <input type="tel" id="c3n" name="c3n" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"><input type="text" id="c3l" name="c3l"><br>
            <br>
            <input type="submit" value = "Submit">
                    
        </form>
        <br>
        <table>
            <tr>
              <th>Contact Name</th>
              <th>Contact Number</th>
            </tr>
            <tr>
              <td>{{name1}}</td>
              <td>{{num1}}</td>
            </tr>
            <tr>
              <td>{{name2}}</td>
              <td>{{num2}}</td>
            </tr>
            <tr>
                <td>{{name3}}</td>
                <td>{{num3}}</td>
              </tr>
          </table>
          <br>
        <a href="{{url_for('index')}}"><button>Home</button></a>
    </body>
</html>